html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    min-height: 100%;
}

.container {
    display: flex;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    height: 100%;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}

.contact {
    background-color: #00bcd4;
    color: #fff;
    padding: 20px;
    flex: 1;
    max-width: 300px;
}

.contact h2 {
    font-size: 1.5em;
}

.main-content {
    padding: 20px;
    flex: 2;
    max-width: 800px;
}

.date {
    font-weight: bold;
    color: #333; 
    margin-right: 10px;
}

.job-title {
    color: #666; 
}
  
li {
    margin-top: 1rem;
}

span {
    margin-top: 2rem;
}

header h1 {
    color: #00bcd4;
    font-size: 2em;
}

.main-content h2 {
    color: #00bcd4;
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 3rem;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}
